<h1>Новая статья</h1>
<%= form_for @article do |f| %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <p> Заголовок статьи <br/><%= f.text_field :title %></p>
  <p> Описание статьи <br/><%= f.text_field :body %></p>
  <p><%= f.submit "Опубликовать" %></p>
<%end%>