<h1><%= @article.title %></h1>
<%= link_to @article.category.name, category_path(@article.category) %>
<p><%= @article.body %></p>

<%@article.comments.order('created_at DESC').each do |comment| %>
  <div class="alert alert-light">
    <strong><%=comment.user.name%></strong> <br><%=comment.body%>
   <br> <%= comment.created_at.strftime('%d-%m-%Y, %T')%>
  </div>

  <%end%>
<% if user_signed_in?%>
<%= form_for ([@article,@article.comments.build]) do |f| %>

  <p>Комментарии</p>
  <%= f.text_area(:body) %>

 <p> <%= f.submit("Добавить комментарии") %></p>
<%end%>
<% end %>