<h1><%= @article.title %></h1>
<%= link_to @article.category.name, category_path(@article.category) %>
<br>
  <% if @like %>
    <%= link_to "Like #{@article.likes.count}", article_like_path(@article, @like), method: :delete%>
  <%else%>
    <%= link_to "Like #{@article.likes.count}", article_likes_path(@article), method: :post %>
  <%end%>

<p>
  <%= @article.body %>
</p>

  <%@article.comments.order('created_at DESC').each do |comment| %>
    <div class="alert alert-light">
      <strong><%=comment.user.name%></strong> <br><%=comment.body%>
       <br> <%= comment.created_at.strftime('%d-%m-%Y, %T')%>
        <%= link_to "Удалить", article_comment_path(@article,comment), method: :delete, data:{confirm: "Вы уверены?"} %>

  </div>

  <%end%>
<% if user_signed_in?%>
  <%= form_for ([@article,@article.comments.build]) do |f| %>

    <p>Комментарии</p>
    <%= f.text_area(:body) %>

 <p> <%= f.submit("Добавить комментарии") %></p>
  <%end%>
<% end %>