<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href= "" ><%= link_to 'Мои статьи', articles_path%> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div  class="navbar-nav">
        <a class="nav-item nav-link" href="#">Главная страница <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Рекомендуем</a>
        <a class="nav-item nav-link" href="#">Политика</a>
        <a class="nav-item nav-link" href="#">Экономика</a>
        <a class="nav-item nav-link" href="#">Спорт</a>
        <a class="nav-item nav-link" href="#">Авто</a>
        <a class="nav-item nav-link" href="#">Наука</a>
      </div>

    </div>

<ul class="navbar-nav mr-auto">
  <% if user_signed_in?%>
  <li class="nav-item">
    <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'nav-link'%>
  </li>
   <% else %>
    <li class="nav-item">
      <%= link_to 'Вход', new_user_session_path, class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to 'Регистрация', new_user_session_path,class: 'nav-link'%>
      <a class="nav-link" href="<%= user_registration_path %>"></a>
    </li>
    <% end %>
</ul>


  </nav>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
